@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Splash&family=Unbounded:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;    
}

.todo{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://github.com/GAMG-94/Landing_Page_Juegos/blob/main/images/gears-of-war-4_2880x1800_xtrafondos.com.jpg);
    justify-content: space-between;
}

.menu{
    height: 60px;
    width: 100%;
    padding: 12px 40px 12px 40px;
    display: block;    
}

.logo{
    float: left;
    padding: 0px 40px;
}

.title{
    color: rgb(255, 68, 0);
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: solid #ffffff;
    font-style: italic;
    -webkit-text-stroke: .3px rgb(255, 255, 255);
}

.menu-ul{
    float: right;
    list-style-type: none;
    padding-right: 40px;
}

.menu-ul__li{        
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.579);
    transition: .9s;
}

.menu-ul__li:hover{
    border-color: rgba(255, 68, 0, 0.794);
    background-color: rgb(255, 255, 255);
}

.menu-ul__li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    padding: 0px 20px;    
    transition: .9s;
    font-weight: 400;
    letter-spacing: 4;
}

.menu-ul__li a:hover{
    color: rgb(255, 68, 0);
}

h1{
    color: rgb(255, 68, 0);
    font-size: 92px;
    font-weight: 900;
    margin-top: 18%;
    justify-content: center;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    z-index: 100;
    font-style: italic;
}

p{
    min-width: 20%;
    padding-top: 1%;
    display: block;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .8px rgb(255, 255, 255);
    font-size: 38px;
    text-align: center;
    z-index: 101;
    text-shadow: 4px solid #000000;
}

.btn{
    z-index: 111;
    margin-top: 40px;
    padding: 14px;
    border-radius: 18px;
    text-transform: uppercase;
    border: none;
    background-color: rgb(255, 68, 0);
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 2;
    cursor: pointer;
    transition: all .6s;
}

.btn:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 68, 0);
}




































